<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="post">Quora posts</h1>
    <%for(post of posts){%>
        <div class="user-card">
            <h2 class="user-id">@<%= post.id%></h2>
            <h3 class="username">@<%= post.username%></h3>
            <h4 class="content"><%= post.content%></h4>
            <a href="http://localhost:3000/posts/<%= post.id %>">View in details</a>
            <a href="http://localhost:3000/posts/<%= post.id %>/edit">Edit</a>
            <form action="/posts/<%= post.id%>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
        </div>
    <%}%>
    <br>
    <br>
    <br>
    <center><a href="http://localhost:3000/posts/new">Create a new Post</a></center>
</body>
</html>